<div class="f_outer" style="display:none;">
  <div class="f_center">
    <div class="f_middle">
      <div class="flash_background">
          <div id="flash_modal" class="flash_window" style="display:none;">
            <h2></h2>
            <div class="content">
              
            </div>
          </div>
          <a class="flash_close" href="">&#215;</a>
      </div>
    </div>  
  </div>
</div>